@import "~antd/dist/antd.css";
/* @import url('https://p.typekit.net/p.css?s=1&k=chg2scz&ht=tk&f=139.173.175&a=21405249&app=typekit&e=css'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Museo Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.search-bar .ant-btn-primary {
  background: black;
  border-color: black;
}

.ant-input-search .ant-input-group .ant-input-affix-wrapper:not(:last-child) {
  border: none !important;
}
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border: none !important;
}
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  border: none !important;
}
